<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">Resumes</h3>
			
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>All Resumes
							</div>
							<div class="tools">
								<!--<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>-->
								<a href="javascript:;" class="reload">
								</a>
								<!--<a href="javascript:;" class="remove">
								</a>-->
							</div>
						</div>
						<div class="portlet-body">
							
							<table class="table table-striped table-bordered table-hover" id="tableWith10Columns">
							<thead>
                                <tr>
                                    <th>Resume Title</th>
                                    <th>View Resume</th>
                                    <th>Resume of</th>
                                    <th>Marketer</th>
                                    <th>Contact</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Created Date</th>
                                    <th>Follow Up</th>
                                    <th>Actions</th>
                                </tr>
							</thead>
							<tbody>
                            	<tr class="odd gradeX">
                                	<td><a href="#">Title</a></td>
                                    <td><a href="#">File</a></td>
                                    <td><a href="#">Resume User Profile</a></td>
                                    <td><a href="#">Resume Marketer User</a></td>
                                    <td>640-451-0096</td>
                                    <td>xyz@abc.com</td>
                                    <td>mm/dd/yyyy</td>
                                    <td>In-progress</td>
                                    <td><a href="#">View</a></td>
                                    <td><a href="#"><button class="btn btn-danger delete" type="button"><i class="fa fa-trash"></i><span>Delete </span></button></a></td>
                                </tr>
                            </tbody>
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
			
			<!-- END PAGE CONTENT-->