<html>
    <body style="height: 200px;
          width: 450px;
          border: thick;
          border-width: thick;
          background-color: #F7F9FA;
          border-style: ridge;">

        <h2 style="margin-left: 110px;">VastikaEIS</h2>
        <h2 style="margin-left: 110px;color: blue;">${message} </h2>

    </body>
</html>