<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Follow Up Info</h3>

<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>Managed Table
				</div>
				<div class="tools">
					<!--<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>-->
					<a href="javascript:;" class="reload"> </a>
					<!--<a href="javascript:;" class="remove">
								</a>-->
				</div>
			</div>
			<div class="portlet-body">

				<table class="table table-striped table-bordered table-hover"
					id="sample_1">
					<thead>
						<tr>
							<th>Username</th>
							<th>Marketer</th>
							<th>Summary</th>
							<th>Follow up date</th>
							<th>Next follow up date</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
							<td><a href="#"> John </a></td>
							<td><a href="#"> Harry </a></td>
							<td>First screening</td>
							<td>12/10/2014 13:45</td>
							<td class="center">12/11/2014 10:30</td>
							<td><a href="#">View </a>|<a href="#">Edit </a>|<a href="#">Delete
							</a>|<a href="#">Add Follow up </a></td>
						</tr>
						<tr class="odd gradeX">
							<td><a href="#"> Peter </a></td>
							<td><a href="#"> Jinna </a></td>
							<td>Technical Interview</td>
							<td>12/10/2014 13:45</td>
							<td class="center">12/11/2014 10:30</td>
							<td><a href="#">View </a>|<a href="#">Edit </a>|<a href="#">Delete
							</a>|<a href="#">Add Follow up </a></td>
						</tr>
						<tr class="odd gradeX">
							<td><a href="#"> Karry </a></td>
							<td><a href="#"> Jefferson </a></td>
							<td>First screening</td>
							<td>12/10/2014 13:45</td>
							<td class="center">12/11/2014 10:30</td>
							<td><a href="#">View </a>|<a href="#">Edit </a>|<a href="#">Delete
							</a>|<a href="#">Add Follow up </a></td>
						</tr>
						<tr class="odd gradeX">
							<td><a href="#"> Chris </a></td>
							<td><a href="#"> Bryan </a></td>
							<td>First screening</td>
							<td>12/10/2014 13:45</td>
							<td class="center">12/11/2014 10:30</td>
							<td><a href="#">View </a>|<a href="#">Edit </a>|<a href="#">Delete
							</a>|<a href="#">Add Follow up </a></td>
						</tr>
						<tr class="odd gradeX">
							<td><a href="#"> Dave </a></td>
							<td><a href="#"> Greg </a></td>
							<td>First screening</td>
							<td>12/10/2014 13:45</td>
							<td class="center">12/11/2014 10:30</td>
							<td><a href="#">View </a>|<a href="#">Edit </a>|<a href="#">Delete
							</a>|<a href="#">Add Follow up </a></td>
						</tr>
						<tr class="odd gradeX">
							<td><a href="#"> John </a></td>
							<td><a href="#"> Harry </a></td>
							<td>First screening</td>
							<td>12/10/2014 13:45</td>
							<td class="center">12/11/2014 10:30</td>
							<td><a href="#">View </a>|<a href="#">Edit </a>|<a href="#">Delete
							</a>|<a href="#">Add Follow up </a></td>
						</tr>
						<tr class="odd gradeX">
							<td><a href="#"> Rayan </a></td>
							<td><a href="#"> Farguson </a></td>
							<td>Skype Interview</td>
							<td>12/10/2014 13:45</td>
							<td class="center">12/11/2014 10:30</td>
							<td><a href="#">View </a>|<a href="#">Edit </a>|<a href="#">Delete
							</a>|<a href="#">Add Follow up </a></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

<!-- END PAGE CONTENT-->