
<h3 class="page-title">Set Follow Up</h3>
<!-- BEGIN PAGE CONTENT-->

<div class="row">
	<div class="col-md-12">
		<!-- BEGIN VALIDATION STATES-->
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>Follow Up
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<div class="portlet-body form">
					<form action="#" role="form" class="form-horizontal">
						<div class="form-body">
							<div class="form-group">
								<label for="firstname" class="control-label col-sm-2">First
									Name:</label>
								<div class="col-sm-4">
									<input type="text" placeholder="First Name" id="firstname"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="middlename" class="control-label col-sm-2">Middle
									Name:</label>
								<div class="col-sm-4">
									<input type="text" placeholder="Middle Name" id="middlename"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="lastname" class="control-label col-sm-2">Last
									Name:</label>
								<div class="col-sm-4">
									<input type="text" placeholder="Last Name" id="lastname"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="dob" class="control-label col-sm-2">DOB:</label>
								<div class="col-sm-4">
									<input type="text" placeholder="DOB" id="dob"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="gender" class="control-label col-sm-2">Gender:</label>
								<div class="col-sm-4">
									<label class="radio-inline"><div>
											<span><input type="radio" name="gender"></span>
										</div>Male</label> <label class="radio-inline"><div>
											<span><input type="radio" name="gender"></span>
										</div>Female</label>
								</div>
							</div>

							<div class="form-group">
								<label for="email" class="control-label col-sm-2">Email:</label>
								<div class="col-sm-4">
									<input type="email" placeholder="Email" id="email"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="cellphone" class="control-label col-sm-2">Cell
									Phone:</label>
								<div class="col-sm-4">
									<input type="text" placeholder="Cell Phone" id="cellphone"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="availability" class="control-label col-sm-2">Availability:</label>
								<div class="col-sm-4">
									<input type="text" placeholder="Two Weeks/ Immediate"
										id="availability" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="status" class="control-label col-sm-2">Status:</label>
								<div class="col-sm-4">
									<input type="text"
										placeholder="Active/In Project/No Longer With Us/Training/Unknown"
										id="status" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="attachresume" class="control-label col-sm-2">Attach
									Resume:</label>
								<div class="col-sm-4">
									<input type="file" id="attachresume" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="attachresume" class="control-label col-sm-2"></label>
								<div class="col-sm-4">
									<div class="checkbox">
										<label><div class="checker">
												<span><input type="checkbox" value=""></span>
											</div>Prime OK?</label>
									</div>
								</div>
							</div>

							<div class="portlet">
								<div class="portlet-title">
									<div class="caption">
										<i class="fa fa-reorder"></i> Address &amp; Location
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="street" class="control-label col-sm-2">Street:</label>
								<div class="col-sm-4">
									<input type="text" placeholder="Street" id="street"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="city" class="control-label col-sm-2">City:</label>
								<div class="col-sm-4">
									<input type="text" placeholder="City" id="city"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="state" class="control-label col-sm-2">State:</label>
								<div class="col-sm-4">
									<input type="text" placeholder="State" id="state"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="zip" class="control-label col-sm-2">Zip:</label>
								<div class="col-sm-4">
									<input type="text" placeholder="Zip" id="zip"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="currentloc" class="control-label col-sm-2">Current
									Loc:</label>
								<div class="col-sm-4">
									<input type="text" placeholder="Dallas, TX" id="currentloc"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="relocation" class="control-label col-sm-2">Relocation:</label>
								<div class="col-sm-4">
									<input type="text" placeholder="Open/TX/CA" id="relocation"
										class="form-control">
								</div>
							</div>

							<div class="portlet">
								<div class="portlet-title">
									<div class="caption">
										<i class="fa fa-reorder"></i> Skills
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="category" class="control-label col-sm-2">Category:</label>
								<div class="col-sm-4">
									<select class="form-control">
										<option>Programing</option>
										<option>Database</option>
										<option>System</option>
										<option>Networking</option>
										<option>BA</option>
										<option>QA</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="control-label col-sm-2">Title:</label>
								<div class="col-sm-4">
									<input type="text"
										placeholder="Java Developer/Dot Net Developer/SQL Developer"
										id="title" class="form-control">
								</div>
							</div>


							<div class="portlet">
								<div class="portlet-title">
									<div class="caption">
										<i class="fa fa-reorder"></i> Technology
									</div>
								</div>
							</div>

							<div class="form-group">

								<div class="checkbox">
									<label class="control-label  col-sm-2"><div
											class="checker">
											<span><input type="checkbox" value=""></span>
										</div>Asp.NET </label>
									<div class="col-sm-2">
										<select class="form-control">
											<option>1 Years</option>
											<option>2 Years</option>
											<option>3 Years</option>
											<option>4 Years</option>
											<option>5 Years</option>
											<option>6 Years</option>
											<option>7 Years</option>
											<option>8 Years</option>
											<option>9 Years</option>
											<option>10 Years</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">

								<div class="checkbox">
									<label class="control-label col-sm-2"><div
											class="checker">
											<span><input type="checkbox" value=""></span>
										</div>Java</label>
									<div class="col-sm-2">
										<select class="form-control">
											<option>1 Years</option>
											<option>2 Years</option>
											<option>3 Years</option>
											<option>4 Years</option>
											<option>5 Years</option>
											<option>6 Years</option>
											<option>7 Years</option>
											<option>8 Years</option>
											<option>9 Years</option>
											<option>10 Years</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">

								<div class="checkbox">
									<label class="control-label col-sm-2"><div
											class="checker">
											<span><input type="checkbox" value=""></span>
										</div>JavaScript</label>
									<div class="col-sm-2">
										<select class="form-control">
											<option>1 Years</option>
											<option>2 Years</option>
											<option>3 Years</option>
											<option>4 Years</option>
											<option>5 Years</option>
											<option>6 Years</option>
											<option>7 Years</option>
											<option>8 Years</option>
											<option>9 Years</option>
											<option>10 Years</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">

								<div class="checkbox">
									<label class="control-label col-sm-2"><div
											class="checker">
											<span><input type="checkbox" value=""></span>
										</div>AngularJS</label>
									<div class="col-sm-2">
										<select class="form-control">
											<option>1 Years</option>
											<option>2 Years</option>
											<option>3 Years</option>
											<option>4 Years</option>
											<option>5 Years</option>
											<option>6 Years</option>
											<option>7 Years</option>
											<option>8 Years</option>
											<option>9 Years</option>
											<option>10 Years</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">

								<div class="checkbox">
									<label class="control-label col-sm-2"><div
											class="checker">
											<span><input type="checkbox" value=""></span>
										</div>SSRS</label>
									<div class="col-sm-2">
										<select class="form-control">
											<option>1 Years</option>
											<option>2 Years</option>
											<option>3 Years</option>
											<option>4 Years</option>
											<option>5 Years</option>
											<option>6 Years</option>
											<option>7 Years</option>
											<option>8 Years</option>
											<option>9 Years</option>
											<option>10 Years</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">

								<div class="checkbox">
									<label class="control-label col-sm-2"><div
											class="checker">
											<span><input type="checkbox" value=""></span>
										</div>Oracle</label>
									<div class="col-sm-2">
										<select class="form-control">
											<option>1 Years</option>
											<option>2 Years</option>
											<option>3 Years</option>
											<option>4 Years</option>
											<option>5 Years</option>
											<option>6 Years</option>
											<option>7 Years</option>
											<option>8 Years</option>
											<option>9 Years</option>
											<option>10 Years</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">

								<div class="checkbox">
									<label class="control-label col-sm-2"><div
											class="checker">
											<span><input type="checkbox" value=""></span>
										</div>SQL</label>
									<div class="col-sm-2">
										<select class="form-control">
											<option>1 Years</option>
											<option>2 Years</option>
											<option>3 Years</option>
											<option>4 Years</option>
											<option>5 Years</option>
											<option>6 Years</option>
											<option>7 Years</option>
											<option>8 Years</option>
											<option>9 Years</option>
											<option>10 Years</option>
										</select>
									</div>
								</div>
							</div>


						</div>

						<div class="form-actions">
							<button class="btn btn-info" type="submit">Submit</button>
							<button class="btn btn-default" type="button">Cancel</button>
						</div>
					</form>
				</div>
				<!-- END FORM-->
			</div>
		</div>
		<!-- END VALIDATION STATES-->
	</div>
</div>


<!-- END PAGE CONTENT-->