 <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title">
            Resume in Market
        </h3>

        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Resume Marketing Records
                        </div>
                        <div class="tools">
                            <!--<a href="javascript:;" class="collapse">
                            </a>
                            <a href="#portlet-config" data-toggle="modal" class="config">
                            </a>-->
                            <a href="javascript:;" class="reload">
                            </a>
                            <!--<a href="javascript:;" class="remove">
                            </a>-->
                        </div>
                    </div>
                    <div class="portlet-body">

                        <table class="table table-striped table-bordered table-hover" id="tableWith10Columns">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Resume</th>
                                    <th>Marketer</th>
                                    <th>Client</th>
                                    <th>Address</th>
                                    <th>Position</th>
                                    <th>Client Contact</th>
                                    <th>Submission Date</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX">
                                    <td >
                                        <a href="#"> John </a>
                                    </td>
                                    <td>
                                        <a href="#">File </a>
                                    </td>
                                    <td>
                                        <a href="#">Taylor </a>
                                    </td>
                                    <td>
                                        Capital One Bank
                                    </td>
                                    <td >
                                        Dallas Texas 
                                    </td>
                                    <td>
                                        Sr. Java Developer
                                    </td>
                                    <td>
                                       capitalone@gmail.com
                                    </td>
                                    </td>
                                    <td>
                                       12.10.2014
                                    </td>
                                    <td>
                                       In-Progress
                                    </td>
                                    <td>
                                        <a href="#">Edit </a>|<a href="#">Delete </a>|<a href="#">Delete </a>|<a href="#">Add Follow Up|<a href="#">View </a> </a>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td >
                                        <a href="#"> Peter </a>
                                    </td>
                                    <td>
                                        <a href="#">File </a>
                                    </td>
                                    <td>
                                        <a href="#">Jeanie </a>
                                    </td>
                                    <td>
                                        Bank of America
                                    </td>
                                    <td >
                                        North Calorina 
                                    </td>
                                    <td>
                                        Sr. UI Developer
                                    </td>
                                    <td>
                                       boa@gmail.com
                                    </td>
                                    </td>
                                    <td>
                                       13.07.2012
                                    </td>
                                    <td>
                                      Pending
                                    </td>
                                    <td>
                                        <a href="#">Edit </a>|<a href="#">Delete </a>|<a href="#">Delete </a>|<a href="#">Add Follow Up|<a href="#">View </a> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>

        <!-- END PAGE CONTENT-->