<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Address History</h3>

<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>Address Records
				</div>
				<div class="tools">
					<!--<a href="javascript:;" class="collapse">
                            </a>
                            <a href="#portlet-config" data-toggle="modal" class="config">
                            </a>-->
					<a href="javascript:;" class="reload"> </a>
					<!--<a href="javascript:;" class="remove">
                            </a>-->
				</div>
			</div>
			<div class="portlet-body">

				<table class="table table-striped table-bordered table-hover"
					id="tableWith8Columns">
					<thead>
						<tr>
							<th>User</th>
							<th>Address</th>
							<th>City</th>
							<th>State</th>
							<th>Zip</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
							<td><a href="#"> John </a></td>
							<td>1215 Meadow Creek Dr Apt I</td>
							<td>Irving</td>
							<td>Texas</td>
							<td>75038</td>
							<td>12/10/2012 13:45</td>
							<td>12/10/2014 17:00</td>
							<td><a href="#">Edit </a>|<a href="#">Delete </a></td>
						</tr>
						<tr class="odd gradeX">
							<td><a href="#"> Jim </a></td>
							<td>1213 Remington Hills</td>
							<td>Irving</td>
							<td>Texas</td>
							<td>75038</td>
							<td>12/10/2012 13:45</td>
							<td>12/10/2014 17:00</td>
							<td><a href="#">Edit </a>|<a href="#">Delete </a></td>
						</tr>
						<tr class="odd gradeX">
							<td><a href="#"> Peter </a></td>
							<td>1000N 4th Street</td>
							<td>Fairfield</td>
							<td>Iowa</td>
							<td>52557</td>
							<td>12/10/2010 13:45</td>
							<td>12/10/2013 17:00</td>
							<td><a href="#">Edit </a>|<a href="#">Delete </a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

<!-- END PAGE CONTENT-->