 <h3 class="page-title">Add Employee</h3>
        <!-- BEGIN PAGE CONTENT-->

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN VALIDATION STATES-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-reorder"></i>Employee Details
                        </div>

                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form action="#" id="form_sample_1" class="form-horizontal">
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Your form validation is successful!
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3">User <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <select class="form-control" name="user" class="select2me">
                                            <option value="">Select...</option>
                                            <option value="1">User 1</option>
                                            <option value="2">User 2</option>
                                            <option value="3">User 3</option>
                                            <option value="4">User 4</option>
                                        </select>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label col-md-3">Client <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <select class="form-control" name="user" class="select2me">
                                            <option value="">Select...</option>
                                            <option value="1">Client 1</option>
                                            <option value="2">Client 2</option>
                                            <option value="3">Client 3</option>
                                            <option value="4">Client 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Position <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" name="position" data-required="1" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Job Type <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" name="jobtype" data-required="1" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Start Date <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                         <div class="input-group date form_datetime">
                                            <input type="text" class="form-control" readonly="" size="16">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-info date-set"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">End Date: <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-group date form_datetime">
                                            <input type="text" class="form-control" readonly="" size="16">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-info date-set"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions fluid">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="button" class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <!-- END VALIDATION STATES-->
            </div>
        </div>


        <!-- END PAGE CONTENT-->