<!-- BEGIN PAGE HEADER-->
        <h3 class="page-title">
            Employee History
        </h3>

        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Employee Records
                        </div>
                        <div class="tools">
                            <!--<a href="javascript:;" class="collapse">
                            </a>
                            <a href="#portlet-config" data-toggle="modal" class="config">
                            </a>-->
                            <a href="javascript:;" class="reload">
                            </a>
                            <!--<a href="javascript:;" class="remove">
                            </a>-->
                        </div>
                    </div>
                    <div class="portlet-body">

                        <table class="table table-striped table-bordered table-hover" id="tableWith8Columns">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Client</th>
                                    <th>Position</th>
                                    <th>Address</th>
                                    <th>Job Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX">
                                    <td >
                                        <a href="#">John </a>

                                    </td>
                                    <td>
                                        <a href="#">Bank of America </a>
                                    </td>
                                    <td>
                                        Sr. UI Developer
                                    </td>
                                    <td>
                                        Irving Texas
                                    </td>
                                    <td >
                                        Contract 
                                    </td>
                                    <td>
                                        12/10/2012 
                                    </td>
                                    <td>
                                        12/10/2014 
                                    </td>
                                    <td>
                                        <a href="#">Edit </a>|<a href="#">Delete </a>

                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td >
                                        <a href="#">Kay </a>

                                    </td>
                                    <td>
                                        <a href="#">Midwestone </a>
                                    </td>
                                    <td>
                                        Sr. Java Developer
                                    </td>
                                    <td>
                                        Irving Texas
                                    </td>
                                    <td >
                                        Contract 
                                    </td>
                                    <td>
                                        12/10/2012 
                                    </td>
                                    <td>
                                        12/10/2014 
                                    </td>
                                    <td>
                                        <a href="#">Edit </a>|<a href="#">Delete </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>

        <!-- END PAGE CONTENT-->